{% extends 'base.html.twig' %}

{% block title %}Ajustes{% endblock %}

{% block main_title %}
    <h1>Ajustes</h1>
    <hr/>
{% endblock %}

{% block action_panel %}
{% endblock %}

{% block main_filters %}
{% endblock %}

{% block main_content %}
{% endblock %}