body {
    background-color: white;
    margin: 0;
    font-family: sans-serif;
}

/*main*/
main {
    margin-left: 180px;
}

#mainTitleDiv hr {
    border: 1px solid #EEEEEE;
    margin-top: -18px;
}

#mainFiltersDiv {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*header*/
header {
    padding: 17px 20px;
    background-color: #F5F5F5;
    overflow: auto;
    border-bottom: 1px solid #EEEEEE;
}

header #headerLoginDiv {
    float: right;
}

header #logout {
    margin-left: 20px;
    font-size: small;
    text-decoration: none;
    color: black;
}

header #logout:hover {
    text-decoration: underline;
}

/*navbar*/
.navbar_category {
    color: #999999;
    font-weight: bold;
    font-size: large;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-width: 160px;
    background-color: #F5F5F5;
    position: fixed;
    height: 100%;
    overflow: auto;
    border-right: 1px solid #EEEEEE;
    padding-top: 13px;
    /*padding-top: 71px;*/
    /*margin-top: -58px;*/
}

.navbar_category {
    padding-left: 8px;
    margin: 6px 0;
}

.navbar_separator {
    border: 1px solid #EEEEEE;
    margin-left: 17px;
}

.navbar li a {
    display: block;
    color: #0088CC;
    text-decoration: none;
    padding: 5px 16px;
}

.navbar li a.active {
    background-color: #4CAF50;
}

.navbar li a:hover:not(.active) {
    background-color: #EEEEEE;
}

/*main*/
.mainContent {
    margin-top: 10px
}

/*action panel*/
#actionPanel {
    background-color: #F5F5F5;
    border-bottom: 1px solid #EEEEEE;
    /*border-left: 1px solid #EEEEEE;*/
    min-height: 30px;
    padding: 10px;
    margin-left: 160px;
    overflow: auto;
}

.actionPanelRightButton {
    float: right;
    margin-right: 8px;
}