/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /*padding-top: 108px; !* Location of the box *!*/
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    display: table;
    margin: 0 auto;
    background-color: white;
    position: relative;
    border: 1px solid #888888;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* The Close Button */
.close {
    color: #888888;
    float: right;
    font-size: 28px;
    margin-top: 5px;
}

.close:hover {
    cursor: pointer;
}

.modal-header {
    padding: 1px 16px;
    border-bottom: solid #DDDDDD 1px;
}

.modal-header h3 {
    margin-left: 10px;
}

.modal-body {
    padding: 10px 16px;
}

.modal-footer {
    padding: 16px;
    background-color: #F2F2F2;
    border-top: solid #DDDDDD 1px;
    overflow: auto;
}

.modal-footer_buttons {
    float: right;
}

.modal-body_content {
    padding: 10px;
}

.modal-body_left_panel {
    display: inline-block;
    padding-right: 20px;
    /*margin-right: -2px;*/
    /*border-right: solid #A9A9A9 1px;*/
}

.modal-body_right_panel {
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
    /*margin-left: -3px;*/
    /*border-left: solid #A9A9A9 1px;*/
}

/*register_student_modal*/
#addParentButton, #addStudentButton, #addPollOptionButton {
    margin: 0 auto;
    display: block;
}

#addedParentsList, #addedStudentsList, #addedPollOptionsList {
    margin-top: 20px;
    list-style-type: none;
    font-size: small;
    padding-left: 0;
}

#addedParentsList a, #addedStudentsList a, #addedPollOptionsList a {
    font-size: x-large;
    margin-left: 10px;
    color: #888888;
}

/*student*/
.addParentClarification {
    font-size: small;
    margin: 0;
    color: red;
}

/*messaging*/
.messageTextArea {
    resize: none;
    font-size: large;
}

.attachFileDiv, .attachedFilesDiv {
    margin-bottom: 8px;
}

.modalMessageInput {
    width: 550px;
    padding: 5px;
}

/*polls*/
#pollOptionsDiv {
    margin-bottom: 40px;
}

#pollResultList {
    list-style: none;
    padding-left: 0;
}

#pollResultList {
    padding-bottom: 10px;
}

/*authorizations*/
#authorizedStudentsList, #unauthorizedStudentsList {
    margin: 0;
    list-style-type: none;
    padding-left: 0;
    /*font-size: small;*/
}

#authorizedStudentsList li, #pollResultList li, #unauthorizedStudentsList{
    padding-bottom: 4px;
}

