/*images*/
.icon{
    width: 32px;
    height: 32px;
}

/*buttons*/
.defaultButton {
    background-color: white;
    padding: 6px 15px;
    border: solid #CDCDCD 1px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.primaryButton, .infoButton, .warningButton {
    color: white;
    border: none;
    padding: 6px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.primaryButton {
    background-color: #428BCA;
}

.infoButton {
    background-color: #5BC0DE;
}

.warningButton {
    background-color: #F0AD4E;
}

.primaryButton a, .infoButton a, .warningButton a {
    text-decoration: none;
    color: white;
}

.deleteCross {
    cursor: pointer;
}

/*tables*/
.table {
    vertical-align: middle;
    border: none;
    border-collapse: collapse;
    margin-top: 20px;
}

/* messaging states */
.pastDate{
    color: red;
}

.table td:not(.tableButton), .table th {
    border-bottom: solid #DDDDDD 1px;
    text-align: center;
    padding: 10px;
}

.table th {
    font-size: large;
}

/*selects*/
.dropdown {
    border: solid #A9A9A9 1px;
    cursor: pointer;
    padding: 5px;
    min-width: 224px;
}

.dropdown option {
    margin-top: 20px;
    margin-bottom: 20px
}

/*inputs*/
.filterInput {
    padding: 5px;
    min-width: 210px;
}

.autoimportButton{
    padding: 5px 15px;
}

.autoimportButton label{
    cursor: pointer;
    font-size: 13px;
}

#actionPanel input[type=file]{
    display: none;
}

/*modals*/
.modalInput {
    padding: 5px;
    min-width: 210px;
}

/*OTHERS*/
#studentNameFilter {
    margin-left: 5px;
}

#studentInfo, #administratorInfo {
    list-style-type: none;
}

#studentInfo li, #administratorInfo li {
    margin-left: -40px;
    margin-bottom: 10px;
}



