.treeviewDiv * {
    margin: 0;
    padding: 0;
}

.treeview {
    margin: 10px 0 0 20px;
}

.treeviewDiv ul {
    margin: 0;
    list-style: none;
}

.treeview li:not(.treeviewFirstLi) {
    padding: 2px 0 2px 16px;
}

.treeviewSecondLevel li {
    /*TODO: conseguir que la ruta sea relativa*/
    background: url(http://localhost:8000/Hermerest/web/images/treeview-default-line.gif) 0 0 no-repeat;
}

/*.treeview > li:first-child > label {*/
/*!* style for the root element - IE8 supports :first-child*/
/*but not :last-child ..... *!*/

/*}*/

.treeview li.last {
    background-position: 0 -1766px;
}

.treeview li:not(.treeviewFirstLi) {
    margin-left: 20px;
}

.treeviewFirstLi {
    padding: 2px 0;
}

.treeview li > input, .treeview li > input {
    height: 16px;
    width: 16px;
    /* hide the inputs but keep them in the layout with events (use opacity) */
    opacity: 0;
    filter: alpha(opacity=0); /* internet explorer */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
}

.treeview li > label /*, .treeview li > div > label*/
{
    /*TODO: conseguir que la ruta sea relativa*/
    background: url(http://localhost:8000/Hermerest/web/images/gr_custom-inputs.png) 0 -1px no-repeat;
    /* move left to cover the original checkbox area */
    margin-left: -20px;
    /* pad the text to make room for image */
    padding-left: 20px;
}

.treeview .custom-unchecked {
    background-position: 0 -1px;
}

/* Checked styles */

.treeview .custom-checked {
    background-position: 0 -81px;
}

.expand {
    width: 15px;
    height: 15px;
}

.collapse {
    width: 15px;
    height: 15px;
    display: none
}