{% extends 'modals/modal.html.twig' %}

 {% block modal_header %}
     Añadir alumno
 {% endblock %}

{% block modal_body %}
    <input class="modalInput" id="studentNameFilterInput" type="text" placeholder="Nombre del alumno" onkeyup="hideNotMatchingStudentsFromStudentsDropdown()">
    <br/><br/>
    Alumno<br/>
    <select class="dropdown" id="studentsDropdown">
        {% for student in app.user.centre.getStudents() %}
            <option value="{{ student.getId() }}">{{ student.getSurname() }}, {{ student.getName() }}</option>
        {% endfor %}
    </select>
{% endblock %}

{% block modal_footer %}
    <button class="primaryButton" type="button" onclick="addStudentToClass()">Guardar</button>
    <button class="defaultButton" type="button" onclick="closeModal()">Cancelar</button>
{% endblock %}