{% extends 'modals/modal.html.twig' %}

 {% block modal_header %}
     Añadir padre
 {% endblock %}

{% block modal_body %}
    {#<p class="addParentClarification">*Rellene primero el teléfono.</p>#}
    {#<br/>#}
    {#DNI/NIF<br/>#}
    {#<input class="modalInput" id="parentIdCardInput" type="text" onkeyup="searchParentByIdCard('addParentModal')">#}
    {#<br/><br/>#}
    Teléfono<br/>
    <input class="modalInput" id="parentTelephoneInput" type="text">
    <br/><br/>
    Nombre y apellidos<br/>
    <input class="modalInput" id="parentFullnameInput" type="text" readonly>
    <br/><br/>
    <button class="primaryButton" id="addParentButton" type="button" onclick="addParentToParentsList()">Añadir padre</button>

    <ul id="addedParentsList"></ul>
{% endblock %}

{% block modal_footer %}
    <button class="primaryButton" type="button" onclick="addParents({{ student.getId() }})">Guardar cambios</button>
    <button class="defaultButton" type="button" onclick="closeModal()">Cancelar</button>
{% endblock %}