{% extends 'modals/modal.html.twig' %}

 {% block modal_header %}
     Añadir alumnos
 {% endblock %}

{% block modal_body %}
    <input class="modalInput" id="studentNameFilterInput" type="text" placeholder="Nombre del alumno"
           onkeyup="hideNotMatchingStudentsFromStudentsDropdown()">
    <br/><br/>
    Alumno<br/>
    <select class="dropdown" id="studentsDropdown">
        <option value="-1">--</option>
        {% for student in app.user.centre.getStudents() %}
            {% if student not in class.getStudents() %}
                <option value="{{ student.getId() }}">{{ student.getSurname() }}, {{ student.getName() }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <br/><br/>
    <button class="primaryButton" id="addStudentButton" type="button" onclick="addStudentToStudentsList()">Añadir alumno</button>

    <ul id="addedStudentsList"></ul>
{% endblock %}

{% block modal_footer %}
    <button class="primaryButton" type="button" onclick="addStudentsToClass({{ class.getId() }},addStudentsToClassAndShowItCallback)">Guardar cambios</button>
    <button class="defaultButton" type="button" onclick="closeModal()">Cancelar</button>
{% endblock %}