{% extends 'modals/modal.html.twig' %}

 {% block modal_header %}
     Añadir padre
 {% endblock %}

{% block modal_body %}
    Nombre y apellidos<br/>
    <input class="modalInput" id="parentFullnameInput" type="text">
    <br/><br/>
    Teléfono<br/>
    <input class="modalInput" id="parentTelephoneInput" type="text">
    {#<br/><br/>#}
    {#DNI/NIF<br/>#}
    {#<input class="modalInput" id="parentIdCardInput" type="text">#}
{% endblock %}

{% block modal_footer %}
    <button class="primaryButton" type="button" onclick="addParent()">Guardar</button>
    <button class="defaultButton" type="button" onclick="closeModal()">Cancelar</button>
{% endblock %}