{% extends 'modals/modal.html.twig' %}

 {% block modal_header %}
     Nuevo curso
 {% endblock %}

{% block modal_body %}
    Nombre<br/>
    <input class="modalInput" id="classNameInput" type="text">
    {#<br/><br/>#}
    {#Tutor<br/>#}
    {#<select class="dropdown" id="tutorDropdown">#}
        {#<option value="11">Jimeno Jiménez</option>#}
        {#<option value="12">Rodrigo Rodríguez</option>#}
    {#</select>#}
{% endblock %}

{% block modal_footer %}
    <button class="primaryButton" type="button" onclick="addNewClass({{ app.user.centre.id }})">Guardar</button>
    <button class="defaultButton" type="button" onclick="closeModal()">Cancelar</button>
{% endblock %}