{% extends 'modals/modal.html.twig' %}

 {% block modal_header %}
     Registrar alumno
 {% endblock %}

{% block modal_body %}
    <div class="modal-body_left_panel">
        Nombre<br/>
        <input class="modalInput" id="studentNameInput" type="text">
        <br/><br/>
        Apellidos<br/>
        <input class="modalInput" id="studentSurnameInput" type="text">
        <br/><br/>
        Curso<br/>
        <select class="dropdown" id="classDropdown">
            {% for class in app.user.centre.getClasses() %}
                <option value="{{ class.getId() }}">{{ class.getName() }}</option>
            {% endfor %}
        </select>
        {#<br/><br/>#}
        {#Fecha de nacimiento<br/>#}
        {#<input class="modalInput" id="birthDateInput" type="date">#}
        {#<br/><br/>#}
        {#Teléfono<br/>#}
        {#<input class="modalInput" id="telephoneInput" type="text">#}
        {#<br/><br/>#}
        {#Dirección<br/>#}
        {#<input class="modalInput" id="addressInput" type="text">#}
    </div>
    <div class="modal-body_right_panel">
        <b>Padre / Madre / Tutor legal</b>
        <br/><br/>
        <p class="addParentClarification">*Rellene primero el teléfono.</p>
        <br/>
        {#DNI/NIF<br/>#}
        {#<input class="modalInput" id="parentIdCardInput" type="text" onkeyup="searchParentByIdCard('registerStudentModal')">#}
        {#<br/><br/>#}
        Teléfono<br/>
        <input class="modalInput" id="parentTelephoneInput" type="text" onkeyup="searchParentByTelephone('registerStudentModal')">
        <br/><br/>
        Nombre y apellidos<br/>
        <input class="modalInput" id="parentFullnameInput" type="text">
        <br/><br/>
        <button class="primaryButton" id="addParentButton" type="button" onclick="addParentToParentsList()">Añadir padre</button>

        <ul id="addedParentsList">
            <li>Bernardo Rodríguez <a class="deleteCross" onclick="deleteParentFromParentsList(this)">&times;</a></li>
        </ul>
    </div>

{% endblock %}

{% block modal_footer %}
    <button class="primaryButton" type="button" onclick="registerStudent()">Guardar</button>
    <button class="defaultButton" type="button" onclick="closeModal()">Cancelar</button>
{% endblock %}