{% extends 'modals/modal.html.twig' %}

 {% block modal_header %}
     Registrar alumno
 {% endblock %}

{% block modal_body %}
    <div class="modal-body_left_panel">
        Nombre<br/>
        <input class="modalInput" id="studentNameInput" type="text">
        <br/><br/>
        Apellidos<br/>
        <input class="modalInput" id="studentSurnameInput" type="text">
        <br/><br/>
        Curso<br/>
        <select class="dropdown" id="classDropdown">
            <option value="11">1º B</option>
            <option value="12">2º A</option>
        </select>
        {#<br/><br/>#}
        {#Fecha de nacimiento<br/>#}
        {#<input class="modalInput" id="birthDateInput" type="date">#}
        {#<br/><br/>#}
        {#Teléfono<br/>#}
        {#<input class="modalInput" id="telephoneInput" type="text">#}
        {#<br/><br/>#}
        {#Dirección<br/>#}
        {#<input class="modalInput" id="addressInput" type="text">#}
    </div>
    <div class="modal-body_right_panel">
        <b>Padre / Madre / Tutor legal</b>
        <br/><br/>
        Nombre y apellidos<br/>
        <input class="modalInput" id="parentNameInput" type="text">
        <br/><br/>
        Teléfono<br/>
        <input class="modalInput" id="parentTelephoneInput" type="text">
        <br/><br/>
        {#DNI/NIF<br/>#}
        {#<input class="modalInput" id="parentIdCardInput" type="text">#}
        {#<br/><br/>#}
        <button class="primaryButton" id="addParentButton" type="button">Añadir padre</button>

        <ul id="addedParentsList">
            <li>Bernardo Rodríguez <a>&times;</a></li>
        </ul>
    </div>

{% endblock %}

{% block modal_footer %}
    <button class="primaryButton" type="button" onclick="closeModal()">Guardar</button>
    <button class="defaultButton" type="button" onclick="closeModal()">Cancelar</button>
{% endblock %}