{% extends 'modals/modal.html.twig' %}

 {% block modal_header %}
     Enviar encuesta
 {% endblock %}

{% block modal_body %}
    <div class="modal-body_left_panel">
        Asunto<br/>
        <input class="modalMessageInput" id="pollSubjectInput" type="text">
        <br/><br/>
        Fecha límite<br/>
        <input class="modalMessageInput" id="pollDateInput" type="date">
        <br/><br/>
        <div class="attachFileDiv">
            <img class="icon" src="{{ asset('images/attachment.png') }}" alt="Adjuntar archivo"/> Adjuntar archivo
        </div>
        <textarea class="messageTextArea" id="pollContentTextArea" type="text" rows="20" cols="60"></textarea>
    </div>
    <div class="modal-body_right_panel">
        <div id="pollOptionsDiv">
            <b>Opciones</b>
            <br/><br/>
            Permitir respuesta múltiple: <input id="multipleChoiceCheckbox" type="checkbox"/>
            <br/><br/><br/>
            Nueva opción<br/>
            <input class="modalInput" id="newPollOptionInput" type="text">
            <br/><br/>
            <button class="primaryButton" id="addPollOptionButton" type="button" onclick="addPollOption()">Añadir opción</button>
            <ul id="addedPollOptionsList">
                <li>Lunes<a class="deleteCross" onclick="deletePollOption(this)">&times;</a></li>
                <li>Viernes<a class="deleteCross" onclick="deletePollOption(this)">&times;</a></li>
            </ul>
        </div>
        <div id="recipientsDiv">
            <b>Destinatarios</b>
            <br/><br/>
            {{ include('modals/treeview.html.twig') }}
        </div>
    </div>

{% endblock %}

{% block modal_footer %}
    <button class="primaryButton" type="button" onclick="sendPoll()">Enviar</button>
    <button class="defaultButton" type="button" onclick="closeModal()">Cancelar</button>
{% endblock %}