{% extends 'modals/modal.html.twig' %}

 {% block modal_header %}
 {% endblock %}

{% block modal_body %}
    <b>Enviado el:</b> <span id="viewCircularModalSendingDate">15/01/2017</span>
    <br/><br/>
    <div class="attachedFilesDiv">
        <img class="icon" src="{{ asset('images/attachment.png') }}" alt="Archivos adjuntos"/>No hay archivos adjuntos
    </div>
    <textarea class="messageTextArea" id="circularContentTextArea" type="text" rows="20" cols="60" readonly></textarea>
{% endblock %}

{% block modal_footer %}
    <button class="defaultButton" type="button" onclick="closeModal()">Cerrar</button>
{% endblock %}