{% extends 'modals/modal.html.twig' %}

 {% block modal_header %}
     Excursión Museo Elder
 {% endblock %}

{% block modal_body %}
    <div class="modal-body_left_panel">
        <b>Enviado el:</b> <span id="viewAuthorizationModalSendingDate"></span>
        <br/>
        <b>Disponible hasta:</b> <span id="viewAuthorizationModalLimitDate"></span>
        <br/><br/>
        <div class="attachedFilesDiv">
            <img class="icon" src="{{ asset('images/attachment.png') }}" alt="Adjuntar archivo"/> No hay archivos adjuntos
        </div>
        <textarea class="messageTextArea" id="authorizationContentTextArea" type="text" rows="20" cols="60" readonly>Será muy divertido.</textarea>
    </div>
    <div class="modal-body_right_panel">
        <b>Autorizados</b>
        <br/><br/>
        <ul id="authorizedStudentsList"></ul>
        <br/>
        <b>No autorizados</b>
        <br/><br/>
        <ul id="unauthorizedStudentsList"></ul>
    </div>

{% endblock %}

{% block modal_footer %}
    <button class="defaultButton" type="button" onclick="closeModal()">Cerrar</button>
{% endblock %}