{% extends 'base.html.twig' %}

{% block title %}Alumno{% endblock %}

{% block modals %}
    {{ include('/modals/edit_student_modal.html.twig') }}
    {{ include('/modals/add_parent_modal.html.twig') }}
    {{ include('/modals/edit_parent_modal.html.twig') }}
{% endblock %}

{% block action_panel %}
    <button class="defaultButton" type="button" onclick="openEditStudentDialog()">Editar alumno</button>
    <button class="defaultButton" type="button" onclick="openAddParentDialog()">Añadir padre</button>
{% endblock %}

{% block main_title %}
    <h1>Alumno: Faustino Rodríguez</h1>
    <hr/>
{% endblock %}

{% block main_filters %}
{% endblock %}

{% block main_content %}
    <div id="studentInfoDiv">
        <h2>Información del alumno</h2>
        <ul id="studentInfo">
            <li><b>Nombre: </b>Faustino</li>
            <li><b>Apelidos: </b>Rodríguez</li>
            <li><b>Curso (2016/2017): </b>1ºB</li>
            <li><b>Fecha de nacimiento: </b>10/02/2010</li>
            <li><b>Teléfono: </b>928 45 84 10</li>
            <li><b>Dirección: </b>C/ Desengaño, Nº21, 1ºA</li>
            <li><b>DNI: </b></li>
        </ul>
    </div>

    <br/>
    <div id="parentsDiv">
        <h2>Padres</h2>
        <table class="table">
            <tr>
                <th>Alumno</th>
                <th>Teléfono</th>
                <th>DNI</th>
            </tr>
            <tr>
                <td>Eusebio Rodríguez Feo</td>
                <td>645 849 351</td>
                <td>46584312V</td>
                <td class="tableButton">
                    <button class="primaryButton" onclick="openEditParentDialog()">Editar</button>
                </td>
                <td class="tableButton">
                    <button class="warningButton">Eliminar</button>
                </td>
            </tr>
            <tr>
                <td>Eulalia Sanz Martínez</td>
                <td>615 498 476</td>
                <td>42516978W</td>
                <td class="tableButton">
                    <button class="primaryButton" onclick="openEditParentDialog()">Editar</button>
                </td>
                <td class="tableButton">
                    <button class="warningButton">Eliminar</button>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(".modal").eq(0).attr("id", "editStudentModal");
        $(".modal").eq(1).attr("id", "addParentModal");
        $(".modal").eq(2).attr("id", "editParentModal");
    </script>
{% endblock %}