{% extends 'base.html.twig' %}

{% block title %}Alumnos{% endblock %}

{% block action_panel %}
    <button class="defaultButton" type="button">Registrar alumno</button>
    <button class="defaultButton actionPanelRightButton" type="button">Autoimportar desde .csv</button>
{% endblock %}

{% block main_title %}
    <h1>Alumnos</h1>
    <hr/>
{% endblock %}

{% block main_filters %}
    <select class="dropdown" id="classDropdown">
        <option value="">Cualquier curso</option>
        <option value="4º A">4º A</option>
        <option value="4º B">4º B</option>
        <input class="filterInput" id="studentNameFilter" type="text" placeholder="Nombre del alumno">
    </select>
{% endblock %}

{% block main_content %}
    <table class="table">
        <tr>
            <th>Alumno</th>
            <th>Curso</th>
        </tr>
        <tr>
            <td>Armando Aguiar</td>
            <td>4º A</td>
            <td class="tableButton"><button class="infoButton"><a href="{{ path('student') }}?id=5">Ver</a></button></td>
            <td class="tableButton"><button class="warningButton">Eliminar</button></td>
        </tr>
        <tr>
            <td>Macarena Bermúdez</td>
            <td>4º A</td>
            <td class="tableButton"><button class="infoButton"><a href="{{ path('student') }}?id=5">Ver</a></button></td>
            <td class="tableButton"><button class="warningButton">Eliminar</button></td>
        </tr>
    </table>
{% endblock %}