{% extends 'base.html.twig' %}

{% block title %}Autorizaciones{% endblock %}

{% block modals %}
    {{ include('/modals/send_authorization_modal.html.twig') }}
    {{ include('/modals/view_authorization_modal.html.twig') }}
{% endblock %}

{% block main_title %}
    <h1>Autorizaciones</h1>
    <hr/>
{% endblock %}

{% block action_panel %}
    <button class="defaultButton" type="button" onclick="openSendAuthorizationDialog()">Enviar autorización</button>
{% endblock %}

{% block main_filters %}
    <input class="filterInput" id="authorizationSubjectInputFilter" type="text" placeholder="Asunto de la autorización" onkeyup="filterAuthorizations()">

    <select class="dropdown" id="authorizationMonthDropdownFilter" onchange="filterAuthorizations()">
        <option value="">Cualquier mes</option>
        <option value="01">Enero</option>
        <option value="02">Febrero</option>
        <option value="03">Marzo</option>
        <option value="04">Abril</option>
        <option value="05">Mayo</option>
        <option value="06">Junio</option>
        <option value="07">Julio</option>
        <option value="08">Agosto</option>
        <option value="09">Septiempre</option>
        <option value="10">Octubre</option>
        <option value="11">Noviembre</option>
        <option value="12">Diciembre</option>
    </select>

    <select class="dropdown" id="authorizationStateDropdownFilter" onchange="filterAuthorizations()">
        <option value="0">Cualquier estado</option>
        <option value="1">En curso</option>
        <option value="-1">Finalizadas</option>
    </select>
{% endblock %}

{% block main_content %}
    <table class="table" id="authorizationsTable">
        <thead>
        <tr>
            <th>Fecha de envío</th>
            <th>Asunto</th>
            {#<th>Remitente</th>#}
            <th>Fecha límite</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>12/12/2016</td>
            <td>Excursión Museo Elder</td>
            {#<td>Armando Balmaseda</td>#}
            <td class="pastDate">18/12/2016</td>
            <td class="tableButton">
                <button class="infoButton" onclick="openViewAuthorizationDialog()">Ver</button>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(".modal").eq(0).attr("id", "sendAuthorizationModal");
        $(".modal").eq(1).attr("id", "viewAuthorizationModal");
    </script>
{% endblock %}