{% extends 'base.html.twig' %}

{% block title %}Autorizaciones{% endblock %}

{% block main_title %}
    <h1>Autorizaciones</h1>
    <hr/>
{% endblock %}

{% block main_filters %}

{% endblock %}

{% block main_content %}

{% endblock %}