{% extends 'base.html.twig' %}

{% block title %}Circulares{% endblock %}

{% block main_title %}
    <h1>Circulares</h1>
    <hr/>
{% endblock %}

{% block main_filters %}

{% endblock %}

{% block main_content %}

{% endblock %}