{% extends 'base.html.twig' %}

{% block title %}Encuestas{% endblock %}

{% block modals %}
    {{ include('/modals/send_poll_modal.html.twig') }}
    {{ include('/modals/view_poll_modal.html.twig') }}
{% endblock %}

{% block main_title %}
    <h1>Encuestas</h1>
    <hr/>
{% endblock %}

{% block action_panel %}
    <button class="defaultButton" type="button" onclick="openSendPollDialog()">Enviar encuesta</button>
{% endblock %}

{% block main_filters %}
    <input class="filterInput" id="pollTitleFilter" type="text" placeholder="Título de la encuesta">

    <select class="dropdown" id="monthDropdown">
        <option value="00">Cualquier mes</option>
        <option value="01">Enero</option>
        <option value="02">Febrero</option>
        <option value="03">Marzo</option>
        <option value="04">Abril</option>
        <option value="05">Mayo</option>
        <option value="06">Junio</option>
        <option value="07">Julio</option>
        <option value="08">Agosto</option>
        <option value="09">Septiempre</option>
        <option value="10">Octubre</option>
        <option value="11">Noviembre</option>
        <option value="12">Diciembre</option>
    </select>

    <select class="dropdown" id="authorizationStateDropdown">
        <option value="">Cualquier estado</option>
        <option value="En curso">En curso</option>
        <option value="Finalizadas">Finalizadas</option>
    </select>
{% endblock %}

{% block main_content %}
    <table class="table">
        <tr>
            <th>Fecha</th>
            <th>Título</th>
            <th>Remitente</th>
            <th>Fecha límite</th>
        </tr>
        <tr>
            <td>12/12/2016</td>
            <td>Fecha celebración Carnaval</td>
            <td>Armando Balmaseda</td>
            <td>15/01/2017</td>
            <td class="tableButton"><button class="infoButton" onclick="openViewPollDialog()">Ver</button></td>
        </tr>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(".modal").eq(0).attr("id", "sendPollModal");
        $(".modal").eq(1).attr("id", "viewPollModal");
    </script>
{% endblock %}